@model RacetrackReservations.ViewModels.CarViewModel

@{
    ViewBag.Title = "Edit car";
}

<div>
    <a class="btn btn-info" onclick="history.back();">Go back to Manage Cars</a>
</div>
<br />

<h2>Edit car</h2>

@using (Html.BeginForm("UpdateCar", "Car", FormMethod.Post))
{
    @Html.HiddenFor(model => model.CarId)
    @Html.HiddenFor(model => model.UserId)

    <div>
        @Html.LabelFor(model => model.Brand)
        @Html.TextBoxFor(model => model.Brand, new { @class = "form-control", required = "required" })
    </div>

    <div>
        @Html.LabelFor(model => model.ModelName)
        @Html.TextBoxFor(model => model.ModelName, new { @class = "form-control", required = "required" })
    </div>

    <div>
        @Html.LabelFor(model => model.Year)
        @Html.TextBoxFor(model => model.Year, new { @class = "form-control", required = "required" })
    </div>

    <br />
    <div>
        <label>
            Does it have a rollcage?
            @Html.CheckBoxFor(model => model.HasRollcage)
        </label>
    </div>

    <div>
        <label>
            Does it have a fire extinguisher?
            @Html.CheckBoxFor(model => model.HasFireExtinguisher, new { @id = "fireExtinguisherCheckbox" })
        </label>
    </div>

    <br />
    <button type="submit" class="btn btn-success" id="updateCarButton" disabled>Update car</button>
}

@section Scripts
{
    <script>
        // JavaScript function to go back to the previous page
        function goBack() {
            window.history.back();
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Check the initial state of the fireExtinguisherCheckbox
            var fireExtinguisherCheckbox = document.getElementById('fireExtinguisherCheckbox');
            var addButton = document.getElementById('updateCarButton');

            if (fireExtinguisherCheckbox.checked) {
                addButton.disabled = false;
            }

            // Add an event listener to the fireExtinguisherCheckbox to enable/disable the button
            fireExtinguisherCheckbox.addEventListener('change', function () {
                addButton.disabled = !this.checked;
            });
        });
    </script>
}
